#table-of-contents {
  width: 30rem;
  position: fixed;
  top: 10rem;
  left: 5rem;
  overflow-x: hidden;
}

#table-of-contents h2 {
  font-size: 1.5rem;
}

#table-of-contents a {
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

#table-of-contents a:hover {
  color: #000000;
}

@media screen and (max-width: 100rem) {
  #table-of-contents {
    display: none;
  }
}

.imghover:hover {
  -webkit-transform: scale(3, 3);
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  left: 10%;
}
