/*-- scss:defaults --*/
// Base document colors
$body-bg: #222;
$body-color: #eee;
$link-color: #d9831f;

// Code blocks
$code-color: #00eee3;
$code-block-bg-alpha: -.8;

// navbar
$navbar-bg: #222;
$navbar-fg: #eee;
