/*-- scss:defaults --*/
// Base document colors
$body-bg: #212529;
$body-color: #fcfcfc;
$link-color: #d9831f;

// Code blocks
$code-block-bg-alpha: -.8;

// navbar
$navbar-bg: #212529;
$navbar-fg: #fcfcfc;
